
body {
  background-color: #000033; /* Cor de fundo azul escuro */
  color: #FFFFFF; /* Cor de texto branca */
  font-family: 'Open Sans', sans-serif; /* Fonte minimalista */
  margin: 0; /* Remover margem padrão */
  padding: 0; /* Remover padding padrão */
}

h1, h2, h3, h4, h5, h6 { /* Estilizar títulos */
  color: #FFFFFF; /* Cor de texto branca */
  font-weight: normal; /* Remover negrito padrão */
}

a { /* Estilizar links */
  color: #FFFF00; /* Cor de texto amarela */
  text-decoration: none; /* Remover sublinhado padrão */
}

a:hover { /* Estilizar links quando passado o mouse */
  color: #3399FF; /* Cor de texto azul claro */
}

a:visited { /* Estilizar links visitados */
  color: #FFFFFF; /* Cor de texto preta */
}

/* header */

header {
  display: flex; /* Usar flexbox para alinhar elementos */
  align-items: center; /* Centralizar elementos verticalmente */
  background-color: #000033; /* Cor de fundo azul escuro */
  padding: 10px 20px; /* Adicionar padding */
  justify-content: flex-end; /* Alinhar elementos no início */
  border-bottom: 2px solid #ccc; /* Adicionar borda inferior */
  box-shadow: 1px 1px 3px #ccc; /* Adicionar sombreamento */
}

header nav {
  display: flex; /* Usar flexbox para alinhar elementos */
  
}

header nav ul { /* Estilizar lista de opções */

 
  list-style: none; /* Remover marcadores de lista */
  margin: 0; /* Remover margem */
  padding: 0; /* Remover padding */
  display: flex; /* Usar flexbox para alinhar elementos */
}

header nav ul li { /* Estilizar itens de lista */
  margin-right: 10px; /* Adicionar margem à direita */
}

header nav ul li a { /* Estilizar links */
  color: #FFFFFF; /* Cor de texto branca */
  text-decoration: none; /* Remover sublinhado padrão */
  padding: 10px; /* Adicionar padding */
}

header nav ul li a:hover { /* Estilizar links quando passado o mouse */
  color: #3399FF; /* Cor de texto azul claro */
}

/* Sobre */

#about {
  background-color: #000033; /* Cor de fundo azul escuro */
  color: #FFFFFF; /* Cor de texto branca */
  padding: 40px; /* Adicionar padding */
  display: flex; /* Usar flexbox para alinhar elementos */
  align-items: center; /* Centralizar elementos verticalmente */
  flex-wrap: wrap; /* Quebrar elementos para a próxima linha */
  justify-content: center; /* Centralizar elementos horizontalmente */
}




.about-image {
  border-radius: 50%; /* Tornar imagem redonda */
  width: 200px; /* Define largura */
  margin: 0 auto; /* Centralizar imagem */
  border: 5px solid #3399FF; /* Adicionar borda azul clara */
}

.about-text {
  text-align: center; /* Centralizar texto */
  width: 100%; /* Ocupar todo o espaço disponível */
}

.about-text h2 {

  margin-top: 20px; /* Adicionar margem no top / superior */
  

}

.about-text p {
  line-height: 1.5; /* Aumentar espaçamento entre linhas */
  margin-bottom: 20px; /* Adicionar margem na parte de baixo */
}

.about-text h3 {
  color: #3399FF; /* Cor de texto azul claro */
  margin-bottom: 10px; /* Adicionar margem na parte de baixo */
}

.about-text ul {
  list-style: none; /* Remover marcadores de lista */
  margin: 0; /* Remover margem */
  padding: 0; /* Remover padding */
  display: flex; /* Usar flexbox para alinhar elementos */
  flex-wrap: wrap; /* Quebrar elementos para a próxima linha */
  justify-content: center; /* Centralizar elementos horizontalmente */
}

.about-text ul li { /* Estilizar itens de lista */
  margin-right: 10px; /* Adicionar margem na parte direita */
  margin-bottom: 10px; /* Adicionar margem na parte de baixo */
  background-color: #3399FF; /* Cor de fundo azul claro */
  padding: 5px; /* Adicionar padding */
  border-radius: 5px; /* Adicionar bordas arredondadas */
}

/* Projeto */

#projects {
  background-color: #000033; /* Cor de fundo azul escuro */
  color: #FFFFFF; /* Cor de texto branca */
  padding: 40px; /* Adicionar padding */
}

.project-container {
  display: flex; /* Usar flexbox para alinhar elementos */
  justify-content: space-between; /* Distribuir elementos com espaço entre eles */
  flex-wrap: wrap; /* Quebrar elementos para a próxima linha */
}

.project-box {
  background-color: #3399FF; /* Cor de fundo azul claro */
  width: calc(25% - 10px); /* Ocupar 25% do espaço disponível, menos 10px de margem */
  margin: 5px; /* Adicionar margem */
  padding: 20px; /* Adicionar padding */
  text-align: center; /* Centralizar texto */
}

.project-box img {
  width: 100%; /* Ocupar todo o espaço disponível */
}

.project-box h3 {
  margin-top: 20px; /* Adicionar margem no top */
}

/* Contato */

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

#contact .contact-info {
  display: flex;
  flex-wrap: wrap; /* Quebrar elementos para a próxima linha */
  align-items: center; /* Centralizar elementos verticalmente */
  flex-direction: column; /* Centralizar elementos horizontalmente */
  text-align: center; /* Centralizar texto */
  margin-bottom: 20px; /* Adicionar margem na parte de baixo */
  margin-right: 20%;

  
}


iframe {
  
  margin-top: 8px;
  padding: 5px; /* Adicionar padding */
  background-color: #3399FF; /* Cor de fundo azul claro */
  border-radius: 1px; /* Adicionar bordas arredondadas */
  margin-bottom: 20px; /* Adicionar margem na parte de baixo */

}


/* Footer */

footer {
  background-color: #000033;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}



  














  
  
  
  